\.sass-cache

conf/conf.php

src/bin/data
src/bin/sql
src/bin/sources
src/node_modules

web/css
web/font
web/fonts
web/js
web/images
web/.htaccess
web/api.v0-1.php
web/document.edit.view.php
web/persons.list.view.php
web/sitemap.xml
web/page.side.upload.php
web/person.edit.view.php