.sf-mosaic {
    
    @include media(">tablet") {
        /* Prevent vertical gaps */
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap:   1rem;
        -moz-column-count:    2;
        -moz-column-gap:      1rem;
        column-count:         2;
        column-gap:           1rem; 
                    
        margin: 1rem;
        
        > div {
            /* Just in case there are inline attributes */
            position:relative;
            margin-bottom: 1rem;
        }
    }
}