html,body {
    width: 100%;
    height: 100%;
}
body {
    color: $text-color-primary;
    background:url(../images/content_bg_logo_overlay.png) unquote("rgb(#{$palette-sf-grey-50})") center right no-repeat;
    background-attachment:fixed;
}

a {
    text-decoration: none;
    border-bottom: dotted 1px $text-color-primary;
    color: $text-color-primary;
}
a:visited, a:hover {
    border-bottom: dotted 1px unquote("rgb(#{$palette-sf-red-900})");
    color: unquote("rgb(#{$palette-sf-red-900})");
}

.sf-grid {
    @include flexbox();
    @include flex-flow(row wrap);
    @include align-items(stretch);
    padding: 0;
    margin: 0 auto 0 auto;
    min-height: 100%;
    
    > div:first-child {
        @include flex(25);
        background:url(../images/SF_Logo_on_black_LG.png) unquote("rgb(#{$palette-sf-grey-900})") top 2rem center no-repeat;
        border-right:solid 3px unquote("rgb(#{$palette-sf-red-500})");
        background-size:contain;
        
        h4 {
            color: $text-color-contrast;
            text-align:center;
            margin-top: 15rem;
        }
        p {
            padding: 0 1.5rem;
            color: $text-color-contrast;
            
            
        }
        
        
        form {
            
            > div:first-child {
                > div:first-child input {
                    border-bottom: solid 1px unquote("rgb(#{$palette-sf-grey-500})");
                }
                text-align: center;
            }
            > div:last-child {
                text-align:center;
                margin-top: 2rem;
            }
        }
        
        input[type=text] {
            border: none;
            width: 85%;
            text-align: center;
            background: unquote("rgb(#{$palette-sf-grey-50})");
            color: unquote("rgb(#{$palette-sf-grey-900})");
            font-family:Bliss-Light;
            font-size: 1.25rem;
            padding:.5rem 0;
        }
        
    }
    
    > div:first-child + div {
        @include flex(60);
        
    }
    
    > div:last-child {
        @include flex(15);
        background: unquote("rgba(#{$palette-sf-grey-900},.5)");
        a {
            color: unquote("rgba(#{$palette-sf-grey-50},1)");
            border-bottom: dotted 1px unquote("rgba(#{$palette-sf-grey-50},1)");
        }
        a:visited, a:hover {
            border-bottom: dotted 1px unquote("rgb(#{$palette-sf-grey-300})");
            color: unquote("rgb(#{$palette-sf-grey-300})");
        }
        
        ul {
            list-style:none;
        }
    }
}